.dates {
    &List {
        margin: 0;
        padding: 0;
    }
    &Item {
        margin-bottom: 25px;
        list-style: none;
    }
}

.date {
    display: inline-block;
    font-size: 23px;
    font-weight: 700;
    margin-bottom: 20px;
}
