.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: #222325;
    border-radius: 10px;
    padding: 15px 30px;
    box-sizing: border-box;
}

.header {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.content {
    width: 100%;
}

.footer {
    border-top: 1px solid #404546;
    text-align: center;
    width: 100%;
    padding: 10px 0;
}

.new {
    padding-left: 15px;
    position: relative;
    &::before {
        content: '';
        position: absolute;
        top: 7px;
        left: 0;
        width: 10px;
        height: 10px;
        background-color: #df241f;
        border-radius: 50%;
    }
}

.status {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 5px;
}

.employer {
    &Container {
        margin-bottom: 10px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }
    &Img {
        display: none;
    }
    &Name {
        font-size: 20px;
        font-weight: 600;
    }
}

.time {
    background-color: #670f0d;
    font-size: 18px;
    font-weight: 400;
    padding: 0 10px;
    border-radius: 3px;
    list-style: none;
    margin: 0 5px 5px 0;
    &:last-child {
        margin-right: 0;
    }
    &Container {
        display: flex;
        flex-wrap: wrap;
        padding: 0;
        margin: 10px 0 20px 0;
    }
    &Label {
        color: #747577;
        font-size: 18px;
        font-weight: 400;
    }
}

.link {
    text-decoration: none;
    font-size: 18px;
    font-weight: 400;
    color: #2981da;
}

.hide {
    display: none;
}

@media (min-width: 700px) {
    .container {
        display: grid;
        height: 265px;
        grid-template-columns: 1fr 2fr;
        grid-template-rows: auto auto;
        grid-template-areas:
            'header content'
            'footer footer';
    }

    .header {
        grid-area: header;
    }

    .content {
        grid-area: content;
        width: fit-content;
        margin: 0 auto;
    }

    .footer {
        grid-area: footer;
    }

    .employer {
        &Container {
            margin: 10px 0;
            align-items: center;
        }
        &Img {
            display: block;
            margin-right: 20px;
        }
    }
}

@media (min-width: 900px) {
    .container {
        width: 470px;
        grid-template-columns: 1fr 1fr;
        gap: 15px;
    }

    .content {
        margin: 0;
    }
}
