html,
body {
    margin: 0;
    padding: 0;
    background-color: #000;
    color: #fff;
    width: 100%;
    height: 100%;
}

.App {
    text-align: center;
}

.wrapper {
    width: 90%;
    margin: 0 auto;
}

@media (min-width: 700px) {
    .wrapper {
        width: 80%;
    }
}
